/*HEADER*/
*{
    font-family: 'Roboto Condensed', sans-serif;
}
.fondonav{
    background-color: rgb(76, 123, 50);
}
.fondogris{
    background-color: rgba(186, 194, 184, 0.993);
}
.logo{
    width: 80px;
    height: 80px;
}
.name{
    width: 180px;
    height: 80px;
}
.busqueda{
    width: 600px;
    height: 38px;
}
.iconos{
    display: flex;
    flex-flow: column nowrap;
}
.iconos span{
    font-size: 13px;
    color: white;
}
.color{
    color: white;
    margin-left: 10px;
    margin-top: -20px;
    
}
.colorayuda{
    color: white;
    margin-top: -20px;
}
.colorLupa{
    color: rgb(90, 88, 88);
    margin-left: -90px;
}
.title{
    font-size: 30px;
}
.BarraRedes{
    background-color: #000;
    padding-left: 20px;
}
.iconosRedes{
    color: white;
    margin:5px;
}
.menu-fixed-redes {
	position:fixed;
	z-index:1000;
	top:0px;
	/*max-width:1000px;*/
	left:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.menu-fixed {
	position:fixed;
	z-index:1000;
	top:25px;
	/*max-width:1000px;*/
	left:0;
	width:100%;
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.menudos{
    display: flex;
    flex-flow: column nowrap;

}
.barra{
    height: 0.25px;
    opacity: 75%;
    background-color: white;
    opacity: 50%;
}
.fondoOpciones{
    border-top: solid 1px white;
    width: 100%;
    margin-top: 2px;
}
.fondoOpciones ul{
    margin-left: 7%;
}
.fondoOpciones li{
    margin: 0px 15px 0px 15px;
}
header nav{
    -webkit-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
}
a{
    text-decoration: none;
}
/*body*/
.espacioenblanco{
    height:165px;
}
.titulo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 25px;
}
.tituloCont{
    margin: 20px;
    color: rgba(0,0,0,.5);
}
.tituloConta{
    margin: 12px;
    color: rgba(0,0,0,.5);
}
.tituloConta:hover{
    color: rgb(48, 99, 65);
}
.subtitulo{
    font-size: 40px;
    font-weight: 1000;
    color: white;
    margin-top: 2px;
}
.subtitulo:hover{
    transform: scale(1.05);
}
.sucursalesTitle{
    margin-top: 30px;
    font-weight: 600;

}
.Insta{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.seccionFlex{
    margin-top:20px ;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.seccionFlex div{
    margin: 25px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.seccionFlex div h2{
    margin-top: 30px;
    font-weight: 600;
}
.seccionFlex div h2:hover{
    border-bottom: solid 1px #000;
    transform: scale(1.1);
    color: rgb(48, 99, 65);;
}
.seccionFlex div img{
    opacity: 80%;
}
.seccionFlex div img:hover{
    transform: scale(1.05);
    opacity: 100%;
}
.portada{
    width: 100%;
    height: 300px;
}
.portadaContact{
    width: 100%;
    height: 200px;
}

/*CONTACTO*/
.ContactoFlex{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
}
.titleContact{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Prompt', sans-serif;

}
.contactosContact{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left: 8%;
    width: 30%;
}
.redContact{
    display: flex;
    flex-flow: row nowrap;
}
.redContact h5{
    color: rgb(0, 0, 0);
    opacity: 80%;
}
.redContact h5:hover{
    opacity: 100%;
}
.iconosContact{
    color: rgb(0, 0, 0);
    margin: 0px 10px 0px 10px;
}
.formContact{
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
}
.formularioContact{
    width: 80%;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-flow: column;
}
.mensaje{
    height: 80px;
    width: 80%;
}
.btn-enviar{
    margin-top: 20px;
    width: 80%;
    color: white;
    background-color: rgb(76, 123, 50);
}
/*footer*/
.fondoFotter{
    background-color: rgb(157, 163, 154);
}

.divFotter{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
footer div p{
    color: white;
    margin-top: 15px;
}
.seccionFotFlex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.seccionFotFlex div{
    margin-left: 10%;
    margin-right: 10%;
}
.seccionFotFlex div h4{
    margin-top: 25px;
    font-weight: 600;
    color: rgb(76, 123, 50);
    font-size: 20px;
}
.seccionFotFlex div h5{
    color: rgb(60, 65, 58);
    font-size: 16px;
}
.link{
    color: white;
    font-weight: 600;
}
.link:hover{
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.WppFlex{
    display: flex;
    flex-flow: row nowrap;
}
.WppFlex a{
    text-decoration: none;
}
.WppFlex a svg{
    margin-top: -8px;
    margin-left: -15px;
}
/*Sigamos conentados*/
.iconosConect{
    width: 25px;
    height: 25px;
    margin-left: 10px;
    opacity: 70%;
}
.iconosConect:hover{
    opacity: 100%;
    transform: scale(1.05);
}
/*whatsapp pegajoso*/
.wapp{
    height: 50px;
    width: 50px;
}
.wapp-fixed {
	position:fixed;
	z-index:1000;
	top:580px;
	/*max-width:1000px;*/
	left:95%;
	box-shadow:3px 4px 3px rgba(0,0,0,.5);
}

/*FORMULARIO*/
.cuentaFlex{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 200px;
}
.cuentaFlexItem{
    display: flex;
    flex-flow: column nowrap;
    width: 400px;
    align-items: center;
}
.cuentaFlexItem h2{
    background-color: rgb(76, 123, 50);
    color: white;
    padding: 0px 40px 0px 40px;
    font-weight: 1000;
    border-radius: 30px;
}
.cuentaFlexItem label{
    margin-top: 20px;
}
.cuentaFlexItem button{
    margin-top: 30px;
    background-color: rgb(76, 123, 50);
    color: white;
    font-weight: 600;
    border: solid #000 0.5px;
    border-radius: 50px;
}
.formulario{
    width: 400px;
    border-radius: 10px;
}
.recta{
    width: 2px;
    height: 500px;
    margin: 0px 30px 0px 30px;
    opacity: 60%;
}
.bicis{
    height: 380px;
    width: 350px;
    opacity: 80%;
}
.paswordFlex{
    display: flex;
    flex-flow: row nowrap;
}
.paswordFlex svg{
    margin-top: 6px;
    margin-left:-50px;
}


/*formulario CREAR CUENTA*/
.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	border: 0.5px solid #000;
	border-radius: 20px;
	height: 30px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid rgb(76, 123, 50);
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 7px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}


.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 30px;
	line-height: 30px;
	width: 30%;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 1px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
